/*-------- single doctor css -------*/
.single-Doctor img {
    width: 100%;
}
.single-Doctor {
    padding: 25px;
    margin-bottom: 30px;
    text-align: center;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
}
.single-Doctor:hover {
    background: #00d6a3;
}
.single-Doctor p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 30px;
    color: #9dabaf;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
}
.single-Doctor button {
    border: 0;
    background: no-repeat;
    text-transform: uppercase;
    color: #00d6a3;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}

.single-Doctor h5 {
    font-size: 22px;
    font-weight: 600;
    color: #033b4a;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
}
.service-container button {
    border: 0;
    background: no-repeat;
    text-transform: uppercase;
    color: #00d6a3;
    font-size: 15px;
    font-weight: 600;
}
.single-Doctor:hover p,
.single-Doctor:hover h5,
.single-Doctor:hover button
{
    color: #fff;
}